{% extends 'base.html' %}

{% block page_title %}Add A Transaction{% endblock %}

{% block content %}
    <h2>Add A Transaction</h2>
    
    <form method="post" action=".">
        <table class="form_table">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" name="confirmed" value="Save">
                    or
                    <a href="{% url budget_transaction_list %}">Cancel</a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}