<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<title>{% block page_title %}{% endblock %}</title>
    	<link rel="stylesheet" href="{{ MEDIA_URL }}css/basic.css" media="screen">
    	<link rel="stylesheet" href="{{ MEDIA_URL }}css/ui.datepicker.css" media="screen">
    	<link rel="stylesheet" href="{{ MEDIA_URL }}css/print.css" media="print">
    	<!--[if lte IE 6]>
    	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6.css" media="screen">
    	<![endif]-->
    	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.2.6.js"></script>
    	<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.datepicker.js"></script>
    	<script type="text/javascript" src="{{ MEDIA_URL }}js/basic.js"></script>
    </head>
    
    <body>
        <div id="page_wrapper">
            <div id="page_header">
                <h1>Personal Budget</h1>
            </div>
            
            <div id="page_navigation">
                <ul>
                    <li class="active"><a href="{% url budget_dashboard %}">Dashboard</a></li>
                    <li><a href="{% url budget_transaction_list %}">Transactions</a></li>
                    <li><a href="{% url budget_summary_list %}">Summaries</a></li>
                    <li><a href="{% url budget_setup %}">Setup</a></li>
                </ul>
            </div>
            
            <div id="page_content">
                <div id="content">
                    {% block content %}
                        <p>You really shouldn't see this.</p>
                    {% endblock %}
                </div>
            </div>
            
            <div id="page_footer">
                
            </div>
        </div>
    </body>
</html>
